* {
	margin:             0;
	padding:            0;
}
li {
	list-style-type:    none;
}
h1, h2, h3, h4, h5, h6 {
	font-size:          100%;
	font-weight:        normal;
}
img {
    border:             none;
}
strong, em {
    font-style:         normal;
    font-weight:        normal;
}
a img {
    border:             0;
}

